aiohttp==3.8.3

#jsonnet==0.19.1
# Use one of (use binary only if default version compiles with errors)
jsonnet-binary==0.17.0

python-dotenv==0.21.1
aiohttp_jinja2==1.5.1
Jinja2~=3.1.2
bs4~=0.0.1
beautifulsoup4~=4.11.2
lxml~=4.9.2
price-parser==0.3.4

gunicorn