<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('link_sender_form')
        const a_csv = document.getElementById('download_link')
        const a_json = document.getElementById('download_link_json')
        const btn = document.getElementById('send_btn')
        const spinner = document.getElementById('spinner')
        const msg = document.getElementById('err_msg')
        form.addEventListener('submit', (evt) => {
            evt.preventDefault();
            a_csv.style.display = 'none';
            a_json.style.display = 'none'
            msg.style.display = 'none';
            //console.log(evt)
            (async () => {
                const data = new FormData(evt.target)
                //document.getElementById('send_btn')
                btn.disabled = true;
                a_csv.style.display = 'none';
                a_json.style.display = 'none'
                spinner.style.display = 'inline-block'
                const resp = await fetch("{{ current_host }}", {
                    method: 'POST',
                    body: data
                });
                const res = await resp.json();
                if(res.ok){
                    let csv = res.csv || '';
                    let json = JSON.stringify(res.data) || '[]';
                    a_csv.href = URL.createObjectURL(new Blob([csv], {type: 'text/csv'}));
                    a_json.href = URL.createObjectURL(new Blob([json], {type: 'application/json'}));
                    a_csv.style.display = 'block';
                    a_json.style.display = 'block';
                    spinner.style.display = 'none';
                    btn.disabled = false;
                    if(Array.isArray(res.data) && !res.data.length) {
                        msg.style.display = 'block';
                        msg.innerText = "Parsed result is empty. It may cause if requested service api has been changed or now under maintenance. Try again later or contact us: artur.2002.artur@gmail.com";
                    }
                }
                else {
                    msg.style.display = 'block';
                    msg.innerText = (res.data? "server responded error: " + res.data : "Unknown error accused.") + " Please, contact developers to get help."
                }

            })().then().catch((err) => {
                console.log(err)
                msg.style.display = 'block'
                msg.innerText = 'Invalid link!'
                spinner.style.display = 'none'
                btn.disabled = false;
            })
        })

    })

</script>
<div class="container align-content-center mt-5">
    <form id="link_sender_form">
        <div class="form-group">
            <label for="link">Link:</label>
            <input type="text" class="form-control" id="link" name="link" aria-describedby="linkHelp"
                   placeholder="Enter link to process">
            <small id="linkHelp" class="form-text text-muted"><b>Example: </b>https://play.google.com/store/search?q=minecraft&c=apps</small>
        </div>
        <button id="send_btn" class="btn btn-primary" style="padding-left:  20px; padding-right: 20px">
            Send
            <span id="spinner" style="display: none" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
        </button>
    </form>
    <a class="btn-link" style="display: none" href="" id="download_link" download="results.csv">Download  CSV</a>
    <a class="btn-link" style="display: none" href="" id="download_link_json" download="results.json">Download JSON</a>
    <div style="display: none" id="err_msg" class="alert alert-danger" role="alert">
        Invalid link!
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>